<ion-header>
  <ion-toolbar color="amarilloduoc">
    <ion-title #titulo size="large">
      <div class="titulo-container">
        <span class="titulo-text">Sistema de Asistencia DUOC</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo-container ion-text-center">
    <img src="../../../assets/img/LogoDuoc.jpeg" alt="Logo Duoc UC" class="logo" />
  </div>
  <div class="botones-container ion-text-center">
    <ion-button shape="round" size="small" (click)="navegar('/leerqr')">Inicio</ion-button>
    <ion-button shape="round" size="small" (click)="navegar('/miclase')">Mi clase</ion-button>
    <ion-button shape="round" size="small" (click)="navegar('/misdatos')">Mis datos</ion-button>
  </div>
  <div class="centrar">
    <div class="enmarcar ion-text-center" #page>
      <div class="duoc-icon"></div>
      
      <ion-toolbar class="ion-padding-top">
        
        <h1>
          Mis Datos Personales
        </h1>
      </ion-toolbar>

      <ion-item #itemCuenta>
        <ion-input [(ngModel)]="usuario.cuenta" label="Cuenta" labelPlacement="floating" placeholder="Ej: atorres"></ion-input>
      </ion-item>

      <ion-item #itemNombre>
        <ion-input [(ngModel)]="usuario.nombre" label="Nombres" labelPlacement="floating" placeholder="Ej: Ana"></ion-input>
      </ion-item>

      <ion-item #itemApellido>
        <ion-input [(ngModel)]="usuario.apellido" label="Apellidos" labelPlacement="floating" placeholder="Ej: Torres"></ion-input>
      </ion-item>

      <ion-item #itemCorreo>
        <ion-input [(ngModel)]="usuario.correo" label="Correo" labelPlacement="floating" placeholder="Ej: Ana"></ion-input>
      </ion-item>

      <ion-item #itemPreguntaSecreta>
        <ion-input [(ngModel)]="usuario.preguntaSecreta" label="Pregunta Secreta" labelPlacement="floating" placeholder="Ej: Ana"></ion-input>
      </ion-item>

      <ion-item #itemRespuestaSecreta>
        <ion-input [(ngModel)]="usuario.respuestaSecreta" label="Respuesta Secreta" labelPlacement="floating" placeholder="Ej: Ana"></ion-input>
      </ion-item>

      <ion-item #itemEducacion class="font-size-12">
        <ion-select [(ngModel)]="usuario.nivelEducacional!.id" (ionChange)="actualizarNivelEducacional($event)" label="Educación" position="floating">
          <ion-select-option *ngFor="let nivelEducacional of listaNivelesEducacionales" [value]="nivelEducacional.id">
            {{nivelEducacional.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

    
      <ion-item #itemFechaNacimiento>
        <table>
          <tr>
            <td class="font-size-12">Nacimiento</td>
            <td class="cell-align-right">
              <input
                matInput
                [matDatepicker]="fechaNacimiento"
                [(ngModel)]="usuario.fechaNacimiento"
                placeholder="dd/mm/yyyy"
                class="date-width">
            </td>
            <td class="cell-width-0">
              <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #fechaNacimiento></mat-datepicker>
            </td>
          </tr>
        </table>
      </ion-item>

      <ion-item #itemContrasena>
        <ion-input [(ngModel)]="usuario.password"
            label="Contraseña" labelPlacement="floating" type="password"
            placeholder="Ej: Torres"></ion-input>
      </ion-item>
      
      <ion-item #itemContrasena class="ion-padding-bottom">
        <ion-input [(ngModel)]="usuario.repetirPassword"
            label="Repetir Contraseña" labelPlacement="floating" type="password"
            placeholder="Ej: Torres"></ion-input>
      </ion-item>


      <ion-button shape="round" size="small"
          (click)="actualizarUsuario()">
        Actualizar 
      </ion-button>

    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="amarilloduoc" class="ion-text-center">
    

    <ion-button shape="round" size="small" (click)="navegar('/ingreso')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Cerrar Sesión
    </ion-button>

  </ion-toolbar>
</ion-footer>
