<ion-header>
  <ion-toolbar color="amarilloduoc">
    <ion-title size="large">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Imagen del logo centrada y con tamaño mediano -->
  <div class="logo-container ion-text-center">
    <img src="../../../assets/img/LogoDuoc.jpeg" alt="Logo Duoc UC" class="logo" />
  </div>

  <div class="centrar">
    <div class="enmarcar ion-text-center">
      <ion-toolbar class="ion-padding-top">
        <h1 class="titulo-text">Sistema de Asistencia DUOC</h1>
        <h2>Recuperar Contraseña</h2>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Paso 2: Responde a la Pregunta secreta</ion-card-subtitle>
            <ion-card-subtitle>{{ usuario?.preguntaSecreta }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-input 
              type="text" 
              [(ngModel)]="respuesta" 
              placeholder="Ingresa tu respuesta"
              class="input-corre-responsive">
            </ion-input>
            <ion-button 
              expand="block" 
              (click)="validarRespuestaSecreta()"
              class="boton-responsive">
              Recuperar Contraseña
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-toolbar>

      <ion-button shape="round" size="small" (click)="navegar('/ingreso')">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Iniciar Sesión
      </ion-button>
    </div>
  </div>
</ion-content>
