table {
  width: 100%;
  border-collapse: collapse; /* Elimina los espacios entre bordes */
  font-family: Arial, sans-serif; /* Fuente simple y formal */
}

ion-toolbar,ion-footer{
  background-color: #FFB800;
}

ion-button{
  --background: var(--ion-color-grisduoc);
  --border-width: 0px;  
  --box-shadow: none; 
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd; /* Borde fino y gris claro */
  text-align: left;
}

th {
  background-color: #f4f4f4; /* Color de fondo claro para el encabezado */
  font-weight: bold;
  color: #333; /* Texto oscuro para contraste */
}

td {
  background-color: #fff; /* Fondo blanco */
  color: #555; /* Texto gris oscuro */
}

tr:nth-child(even) td {
  background-color: #f9f9f9; /* Alterna el color de fondo en filas pares */
}

tr:hover td {
  background-color: #f1f1f1; /* Efecto hover para resaltar la fila */
}

.margin-top {
  margin-top: 20px;
}

.titulo-container {
  display: flex; // Usa flexbox para la alineación
  align-items: center; // Centra verticalmente el ícono y el texto
  justify-content: center; // Centra horizontalmente el contenido
  flex: 1; // Permite que el contenedor tome todo el espacio disponible
  margin: 0 10px; // Espacio a los lados del contenedor
}

.duoc-icon img {
  width: 80px; // Ajusta el ancho según lo necesites
  height: auto; // Mantiene la proporción
  display: inline-block; // Alineación correcta
  margin-right: 10px; // Espacio entre el logo y los botones
  vertical-align: middle; // Alineación vertical
}

.titulo-text {
  flex-grow: 1; // Permite que el texto ocupe el espacio restante
  text-align: center; // Centra el texto dentro de su espacio
}

ion-button {
  margin: 10px auto; /* Centramos el botón */
  width: 150px; /* Ajusta el ancho según tus necesidades */
  border-radius: 8px; /* Borde redondeado para un estilo más amigable */
}

.margin-top {
  margin-top: 15px; /* Espacio superior para el botón */
}

//close
